In [137]:
import pandas as pd

df_users = pd.read_csv('thinkific_users.csv')
df_users_extra = pd.read_csv('thinkific_users_copy.csv')


df_course = pd.read_excel('master_sheet_main_uuid.xlsx')

df_progression = pd.read_csv('progress_user_group.csv')

In [138]:
df_course = df_course[['course_id','course_uuid']]
df_progression = df_progression.rename(columns={'user_email': 'email'})

# print(df_course.head())
# print(df_progression.head())
df_progression.head()

,user_id,email,first_name,last_name,course_id,course_name,percentage_completed
0,43813361,sonia.omar@blenheimchalcot.com,Sonia,Omar,1656382,Diversity and Inclusion,0.0
1,43813361,sonia.omar@blenheimchalcot.com,Sonia,Omar,2085620,Avado Cohort 1 | 28th November 2022 | Reportin...,1.0
2,43813361,sonia.omar@blenheimchalcot.com,Sonia,Omar,2085666,Impact Boost - Cronus | 2022 | Sales as a Science,0.5
3,43813361,sonia.omar@blenheimchalcot.com,Sonia,Omar,2051795,Avado Cohort 2 | 31st October 2022 | Cadences,0.0
4,43813361,sonia.omar@blenheimchalcot.com,Sonia,Omar,2068976,Avado Cohort 2 | 14th November 2022 | The Joy ...,0.0

In [139]:
df_users = df_users[['email', 'user_uuid']]
df_users['email'] = df_users['email'].str.lower()

# df_users_extra = df_users_extra[['email', 'user_id']]
# df_users.head()
df_users.head()

,email,user_uuid
0,sonia.omar@blenheimchalcot.com,e08214d4-379a-4ca4-8e35-f92156c3b8a7
1,lee.arthur@blenheimchalcot.com,8e445e77-0133-4865-8705-92f699bfbe6b
2,benjamin.weinstock@blenheimchalcot.com,727f22b4-396f-4fd7-93cd-7080b2840ad4
3,bgweinstock@gmail.com,af2e00ee-8950-4677-ba0a-4075986ab40e
4,ksenia.levina@blenheimchalcot.com,d9486dc5-701b-4c57-a5f4-52f2fce26551

In [140]:
df_course = df_course.drop_duplicates()
print(df_course)

      course_id                           course_uuid
0       2832434  a83d93cb-9299-46ee-9d62-c69f35292bb7
3       2832433  8b1741ea-b517-491c-894e-fa0611d5575c
6       2831454  dc495ffa-5c77-475d-be4d-42d64adb054c
14      2831344  c5ad6c08-1c9a-4a06-9295-2d70c5ccd2d0
16      2831210  33015b1e-52e6-430e-89c0-a62a2f2bda0d
...         ...                                   ...
6615    1648129  cbf036fd-fa38-4e4f-8bcf-100d82c04780
6617    1647956  e04f54ae-028e-48f4-a80c-5ccaf59d4863
6618    1638778  a73045a9-598f-484a-9a07-25ac69a2a8d9
6620    1638697  7d192e3b-7e70-4387-87ae-f9b669be7c97
6622    1629110  f7ccfb02-c74b-4d33-b40f-734afff0d932

[1794 rows x 2 columns]

In [141]:
# df_combine = pd.read_csv('rt staff users-groups 2.csv')

In [142]:
# df_combine = df_combine[['email','thinkific_id']]

In [143]:
# df_merge = df_progression.merge(df_users_extra,on='email',how='left')
df_merge = df_progression.merge(df_users,on='email',how='left')
# df_merge.tail()
df_merge.head()

,user_id,email,first_name,last_name,course_id,course_name,percentage_completed,user_uuid
0,43813361,sonia.omar@blenheimchalcot.com,Sonia,Omar,1656382,Diversity and Inclusion,0.0,e08214d4-379a-4ca4-8e35-f92156c3b8a7
1,43813361,sonia.omar@blenheimchalcot.com,Sonia,Omar,2085620,Avado Cohort 1 | 28th November 2022 | Reportin...,1.0,e08214d4-379a-4ca4-8e35-f92156c3b8a7
2,43813361,sonia.omar@blenheimchalcot.com,Sonia,Omar,2085666,Impact Boost - Cronus | 2022 | Sales as a Science,0.5,e08214d4-379a-4ca4-8e35-f92156c3b8a7
3,43813361,sonia.omar@blenheimchalcot.com,Sonia,Omar,2051795,Avado Cohort 2 | 31st October 2022 | Cadences,0.0,e08214d4-379a-4ca4-8e35-f92156c3b8a7
4,43813361,sonia.omar@blenheimchalcot.com,Sonia,Omar,2068976,Avado Cohort 2 | 14th November 2022 | The Joy ...,0.0,e08214d4-379a-4ca4-8e35-f92156c3b8a7

In [144]:
df_merge = df_merge.merge(df_course, on='course_id', how='left')

In [135]:
# df_merge = df_merge[['user_id','course_uuid']]
# df_merge = df_merge.rename(columns={'course_uuid': 'group_id'})
# df_merge.head()

In [136]:
df_merge.to_csv('merged_userid_groupid.csv', index=False)