In [115]:
import pandas as pd

df_users = pd.read_csv('thinkific_users.csv')
df_course = pd.read_excel('course_uuid.xlsx')

In [116]:
df_course = df_course[['course_id','course_uuid']]
df_course = df_course.rename(columns={'course_id': 'thinkific_id'})
df_course.head()

   thinkific_id                           course_uuid
0       1629110  270d92c3-6d21-4a94-a228-2a3881e00a65
1       1638697  005e6e9c-5b61-4dbc-90bd-0946f1fb4521
2       1638778  7de3fc5f-75c2-41df-b9b7-f2c2f858aaa7
3       1647956  1686d863-7d55-4001-be12-dbaa04b645ad
4       1653959  6a35b48e-b173-49c6-ad06-c60cca75bd0e

In [117]:
df_users = df_users[['email', 'user_id']]
df_users.head()

,email,user_id
0,sonia.omar@blenheimchalcot.com,e08214d4-379a-4ca4-8e35-f92156c3b8a7
1,lee.arthur@blenheimchalcot.com,8e445e77-0133-4865-8705-92f699bfbe6b
2,benjamin.weinstock@blenheimchalcot.com,727f22b4-396f-4fd7-93cd-7080b2840ad4
3,bgweinstock@gmail.com,af2e00ee-8950-4677-ba0a-4075986ab40e
4,ksenia.levina@blenheimchalcot.com,d9486dc5-701b-4c57-a5f4-52f2fce26551

In [109]:
df_combine = pd.read_csv('rt staff users-groups 2.csv')

In [110]:
df_combine = df_combine[['email','thinkific_id']]

In [111]:
df_merge = df_combine.merge(df_users,on='email',how='left')

In [112]:
df_merge = df_merge.merge(df_course, on='thinkific_id', how='left')

In [113]:
df_merge = df_merge[['user_id','course_uuid']]
df_merge = df_merge.rename(columns={'course_uuid': 'group_id'})
df_merge.head()

                                user_id                              group_id
0  632b2a9d-1f2b-4055-b777-ed5e435aad6d  37caa809-185d-4fd0-8f2f-77a176917213
1  632b2a9d-1f2b-4055-b777-ed5e435aad6d  e48078dc-12f3-48af-ba32-fec4af674057
2  632b2a9d-1f2b-4055-b777-ed5e435aad6d  5ac8918a-5033-4ee8-b9ca-0c9e94118928
3  632b2a9d-1f2b-4055-b777-ed5e435aad6d  91e798b5-019d-4c61-8c64-5a024c3df3fb
4  632b2a9d-1f2b-4055-b777-ed5e435aad6d  0ad252ca-42b1-4b3d-bb5e-7a0cd6e2888a

In [114]:
df_merge.to_csv('merged_userid_groupid.csv', index=False)